[Unit]
Description=2022 Rapid React Vision Service
After=network.target
Before=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/FRC2022/robot2022-vision/build/RapidReactVision
Restart=always

[Install]
WantedBy=multi-user.target
